body {
	display: flex;
	justify-content: center;
}

.main {
	width: 100vh;
	height: 100vh;
	padding: 10px ;
	background-color: #a6ddc8;
}

h1 {
	text-align: center;
	color: #0a4730;
	
}

fieldset {
	display: flex;
	justify-content: center;
}

button {
	height: 35px;
	background-color: #edf2f0;
	border: 2px solid #0a4730;
    border-radius: 20px;
    font-size: 25px;
}

 .wrapper {
 	display: flex;
 	justify-content: center;
 }

 table {
 	margin-top: 20px;
 	width: 50vh;
 }
